
<!doctype html>
<html lang="en">
  <head>
    <title>SEF TUTOR</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900" rel="stylesheet">
	  
    {%load static%}
    <link rel="stylesheet" href="{% static 'accounts/css/bootstrap.css' %}">
<!--
	  <link rel="stylesheet" href="{% static 'accounts/css/bootstrapi.css' %}">
	  <link rel="stylesheet" href="{% static 'accounts/css/bootstrapi.min.css' %}">
	  <link rel="stylesheet" href="{% static 'accounts/css/bootstrap-themei.css' %}">
	  <link rel="stylesheet" href="{% static 'accounts/css/bootstrap-themei.min.css' %}">
-->
    <link rel="stylesheet" href="{% static 'accounts/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/owl.carousel.min.css' %}">

    <link rel="stylesheet" href="{% static 'accounts/fonts/ionicons/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/fonts/fontawesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/fonts/flaticon/font/flaticon.css' %}">
 
    <!-- Theme Style -->
    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
	  
	  {% block head %}
	  <section  data-stellar-background-ratio="0.5" style="background-image: url({% static 'accounts/images/big_image_1.jpg' %});">
      <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
          <div class="col-md-8 text-center">

            <div class="mb-5 element-animate">
				<br>
				<br>
				<br>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->
	  {% endblock %}
  </head>
	
  <body>
	  {% block header %}
	  
	  {% if user.is_authenticated %}
    <header role="banner">
     
      <nav class="navbar navbar-expand-md navbar-dark bglight">
        <div class="container">
          <a class="navbar-brand absolute" href="{% url 'accounts:home' %}">SEF tutor</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
			  
          </button>
                 
          <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
			  <form id="demo-2"action="/home/results/" method='GET'>
	               <input type="search" placeholder="Search" name = 'q' value = '{{request.GET.q}}'>

                </form>
             
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'accounts:home' %}">Home</a>
              </li>
				{% if user.is_teacher %}
				 <li class="nav-item">
                <a class="nav-link" href = '/home/Lessons'>Lessons</a>
              </li>
				{% else %}
				
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="courses.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Classes</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                  <a class="dropdown-item" href="{% url 'accounts:ClassView' '7' %}">Year 7</a>
                  <a class="dropdown-item" href="{% url 'accounts:ClassView' '8' %}">Year 8</a>
                  <a class="dropdown-item" href="{% url 'accounts:ClassView' '9' %}">Year 9</a>
                  <a class="dropdown-item" href="{% url 'accounts:ClassView' '10' %}">Year 10</a>
                  <a class="dropdown-item" href="{% url 'accounts:ClassView' '11' %}">Year 11</a>
				  <a class="dropdown-item" href="{% url 'accounts:ClassView' '12' %}">Year 12</a>
                </div>

              </li>
                {% endif %}
				
                <li class="nav-item">
                <a class="nav-link" href="https://calendar.google.com/calendar/b/1?cid=c2VmdHV0b3IwQGdtYWlsLmNvbQ">Timeline</a>
              </li>
				{% if user.is_teacher %}
				
				<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="courses.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Archive</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
				  <a class="dropdown-item" href= "/home/archive/add">Add PastQuestion</a>	
                  <a class="dropdown-item" href= "/home/archive/SEF">SEF</a>
                  <a class="dropdown-item" href="/home/archive/WAEC/">WAEC</a>
                  <a class="dropdown-item" href="/home/archive/SAT/">SAT</a>
                  
                </div>

              </li>
				{% else %}
				 <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="courses.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Archive</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                  <a class="dropdown-item" href= "/home/archive/SEF/">SEF</a>
                  <a class="dropdown-item" href="/home/archive/WAEC/">WAEC</a>
                  <a class="dropdown-item" href="/home/archive/SAT/">SAT</a>
                  
                </div>

              </li>
                {% endif %}
             
              <li class="nav-item">
                <a class="nav-link" href="/forum">Forum</a>
              </li>
<!--
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
-->
              <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:contact' %}">Contact Us</a>
              </li>
            </ul>

            <ul class="navbar-nav absolute-right">  
				
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="courses.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome  {{ user.username }}</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                  <a class="dropdown-item" href="{% url 'accounts:change_password' %}">Change Password</a>
					{% if user.is_teacher %}
				  <a class="dropdown-item" href="{% url 'accounts:choose_subject' %}">Change Subjects</a>
					{% else %}
					{% endif %}
					{% if user.is_superuser %}
					<a class="dropdown-item" href="/admin/">Admin Page</a>
					{% else %}
					{% endif %}
					

<!--				  <a class="dropdown-item" href="#" data-toggle='modal' data-target='#ChangeAvatar'>Edit Profile</a>-->
<!--				<button class='dropdown-item' data-toggle='modal' data-target = '#EditProfileModal' type='button'>Edit</button>-->

                </div>
              </li>
                <li class="nav-item">
                <a href="{% url 'accounts:logout' %}" class="nav-link">Logout</a>
              </li>
				

            </ul>
  
          </div>
			
        </div>
		  
        
<!--
		  		<div class='modal fade' id='EditProfileModal'  role='dialog'>
	<div class='modal-dialog modal-dialog-centered" role='document''>
		<div class='modal-content'>
			<div class='modal-header'>
				<h5 class='modal-title'>Add Avatar</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>

			</div>
			<div class='modal-body'>
				 <form method='post'>
                   {% csrf_token %}
                   {{ form.non_field_errors }}
                   {{ form.image.errors }}
                   {{ form.image }}
             <div class="modal-footer">
           <button style="border-radius: 12px" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           <button style="border-radius: 12px" type="submit" class="btn btn-primary">Save changes</button>
           </div>
                  </form>
			</div>
		</div>
	</div>
</div>
-->
      </nav>

    </header>
	  {% else %}
	 <header role="banner">
     
      <nav class="navbar navbar-expand-md navbar-dark bg-light">
        <div class="container">
          <a class="navbar-brand absolute" href="{% url 'accounts:home' %}">SEF tutor</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
			  
          </button>
                 
          <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
			  <form id="demo-2"action="/home/results/" method='GET'>
	               <input type="search" placeholder="Search" name = 'q' value = '{{request.GET.q}}'>

                </form>
             
            
            <ul class="navbar-nav absolute-right">  
				
                <li class="nav-item">
                <a href="{% url 'accounts:login' %}" class="nav-link">Login</a>
              </li>
               <!-- <li class="nav-item">
                <a href="{% url 'accounts:student_register' %}" class="nav-link">Register</a>
              </li>-->
				

            </ul>
  
          </div>
			
        </div>
		
      </nav>

    </header>
	{%endif %}
    <!-- END header -->

	  {% endblock %}
	  
     {% block body %}
	  
    {% endblock %}
     
      
      
  {% block footer %}
	{% if user.is_authenticated %}
    <footer class="site-footer" style="background-image: url({% static 'accounts/images/big_image_3.jpg' %});">
       
        <div class="wrapper">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4">
            <h3>About</h3>
            <p>SEF TUTOR is an web based online learning resource designed to improve your learning experience with the help of the latest technology.</p>
          </div>
          <div class="col-md-6 ml-auto">
            <div class="row">
              <div class="col-md-4">
                <ul class="list-unstyled">
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="list-unstyled">
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="list-unstyled">
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
            </div>
    </footer>
    <!-- END footer -->
          
	{% else %}
	
	{% endif %}
	  {% endblock %}
    
    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>

    <script src="{% static 'accounts/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'accounts/js/jquery-migrate-3.0.0.js' %}"></script>
    <script src="{% static 'accounts/js/popper.min.js' %}"></script>
    <script src="{% static 'accounts/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'accounts/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'accounts/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'accounts/js/jquery.stellar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    
    <script src="{% static 'accounts/js/main.js' %}"></script>
      


  </body>
</html>