{% extends 'base.html' %}
{% load static %}
<!doctype html>

      

    {% block body %}
    <section class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-5 box">
            <h2 class="mb-5">Reset your password</h2>
              <p>Forgotten your password? Enter your SCHOOL email address below, and we'll email instructions for setting a new one.</p>
            <form  method="post">
				{% csrf_token %}
             <!--error to be shown if password and/or username are wrong-->
				{% if form.non_field_errors %}
                  
                     {% for error in form.non_field_errors %}
                     <li><strong style="color: crimson">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                 {% endif %}
				<div class="row">
                    <div class="col-md-12 form-group">
                      <label>Email address</label>
                      <input name='{{ form.email.html_name }}' id = '{{ form.email.id_for_label }}'type="text"  class="form-control ">
                    </div>
                  </div>
				<!--error to be shown if username is not specified-->
				{% if form.email.errors %}
                  
                     {% for error in form.email.errors %}
                     <li><strong style="color: crimson">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                 {% endif %}
				
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <input type="submit" value="Reset Password" class="btn btn-primary">
                    </div>
                  
			  
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->
  
    {% endblock %}
