{% extends 'base.html' %}
{% load static %}
{% block body %}

<!--for set-->
<section class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center">
            <h2>Past Questions</h2>
            <p class="lead">Download all questions to prepare for your exams.</p>
          </div>
        </div>
      

        <div class="row top-course">
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a  href="2015/" class="course">
              <img src= "{% static 'accounts/images/2015.jpg' %}" alt="Image placeholder">
              <h2>2015</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="2016/" class="course">
              <img src= "{% static 'accounts/images/2016.1.jpg' %}" alt="Image placeholder">
              <h2>2016</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="2017/" class="course">
              <img src= "{% static 'accounts/images/2017.1.jpg' %}" alt="Image placeholder">
              <h2>2017</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="2018/" class="course">
              <img src= "{% static 'accounts/images/2018.1.png' %}" alt="Image placeholder">
              <h2>2018</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="2019/" class="course">
              <img src= "{% static 'accounts/images/2019.jpg' %}" alt="Image placeholder">
              <h2>2019</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="2020/" class="course">
              <img src= "{% static 'accounts/images/2020.5.jpg' %}" alt="Image placeholder">
              <h2>2020</h2>
            </a>
          </div>
        </div>
        <!-- END row -->

        
      </div>
    </section>

{% endblock %}