{% extends 'base.html' %}
{% block body%}


    <section class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-5 box">
          
            <form  method="post" enctype="multipart/form-data">
				{% csrf_token %}
             {% if form.non_field_errors %}
                  
                     {% for error in form.non_field_errors %}
                     <li><strong style="color: crimson">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                 {% endif %}
                
				<div class="row">
                    <div class="col-md-12 form-group">
                      <label>Title</label>
                      <input name='{{ form.name.html_name }}' id = '{{ form.name.id_for_label }}'type="text"  class="form-control ">
                    </div>
                  </div>
				<!--error to be shown if username is not specified-->
				{% if form.name.errors %}
                  
                     {% for error in form.name.errors %}
                     <li><strong style="color: crimson;font-size: 10px">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                 {% endif %}
				
                
                <div class="row">
                    <div class="col-md-10 form-group">
                      <label>Subject</label>
                      {{form.subject}}
                    </div>
                  </div>
                
                
                
                   <div class='row'>
                       <div class="col-md-12 form-group">
						<label>Exam Type</label>
				  <select name="Exam_Type" required_id="id_Exam_Type" class="form-control ">
                     <option value="" selected="">---------</option>

                      <option value="First C.A">First C.A</option>

                        <option value="Second C.A">Second C.A</option>

                        <option value="Examination">Examination</option>

                         
                           </select>
                     {% if form.Exam_Type.errors %}
                  
                     {% for error in form.Exam_Type.errors %}
                     <li><strong style="color: crimson;font-size: 10px">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                 {% endif %}
                    </div>
                </div>
                
                
              <div class='row'>
                       <div class="col-md-12 form-group">
						<label>Year of release</label>
				  <select name="Set" required_id="id_Set" class="form-control ">
                     <option value="" selected="">---------</option>

                      <option value="2020">2020</option>
                      
                      <option value="2019">2019</option>

                        <option value="2018">2018</option>

                        <option value="2017">2017</option>
                        
                        <option value="2016">2016</option>
                      

                           </select>
                     {% if form.Set.errors %}
                  
                     {% for error in form.Set.errors %}
                     <li><strong style="color: crimson;font-size: 10px">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                 {% endif %}
                    </div>
                </div>                
               
				
                  <div class='row'>
                       <div class="col-md-12 form-group">
						<label>Term</label>
				  <select name="Term" required_id="id_Term" class="form-control ">
                     <option value="" selected="">---------</option>

                      <option value="1st Term">1st Term</option>
                      
                      <option value="2nd Term">2nd Term</option>

                        <option value="3rd Term">3rd Term</option>

                           </select>
                     {% if form.Term.errors %}
                  
                     {% for error in form.Term.errors %}
                     <li><strong style="color: crimson;font-size: 10px">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                 {% endif %}
                    </div>
                </div>                
                
                
                
			
                
				<div class="row">
                    <div class="col-md-12 form-group">
                      <label>Document</label>
                     {{form.document}}
                    </div>
                  </div>
				<input type="text" name="Type" class="vTextField" maxlength="10" required="" value="SEF" id="id_Type" hidden>
				
				
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <input type="submit" value="Submit" class="btn btn-primary">
                    </div>
                  </div>
				  
                </form>
			  
          </div>
        </div>
      </div>
    </section>
{% endblock %}