{% extends 'base.html' %}
{% load static %}
{% block body %}
{% if type == 'SEF' %}
<!--for class-->
    <section class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center">
            <h2>SEF Past Questions</h2>
            <p class="lead">Download all questions you need to prepare for your exams.</p>
          </div>
        </div>
      

        <div class="row top-course">
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a  href="7/" class="course">
              <img src= "{% static 'accounts/images/7.gif' %}" alt="Image placeholder">
              <h2>Year 7 Past Questions</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="8/" class="course">
              <img src= "{% static 'accounts/images/8.1.png' %}" alt="Image placeholder">
              <h2>Year 8 Past Questions</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="9/" class="course">
              <img src= "{% static 'accounts/images/9.jpg' %}" alt="Image placeholder">
              <h2>Year 9 Past Questions</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="10/" class="course">
              <img src= "{% static 'accounts/images/10.1.png' %}" alt="Image placeholder">
              <h2>Year 10 Past Questions</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="11/" class="course">
              <img src= "{% static 'accounts/images/11.png' %}" alt="Image placeholder">
              <h2>Year 11 Past Questions</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="12/" class="course">
              <img src= "{% static 'accounts/images/12.png' %}" alt="Image placeholder">
              <h2>Year 12 Past Questions</h2>
            </a>
          </div>
        </div>
        <!-- END row -->

        
      </div>
    </section>
{% endif %}
{% if type == 'WAEC' %}
<!--for class-->
    <section class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center">
            <h2>WAEC Past Questions</h2>
            <p class="lead">Download all questionsyou need to prepare for your exams.</p>
          </div>
        </div>
      

        <div class="row top-course">
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a  href="Math/" class="course">
              <img src= "{% static 'accounts/images/math3.jpg' %}" alt="Image placeholder">
              <h2>Math</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="English/" class="course">
              <img src= "{% static 'accounts/images/english2.jpg' %}" alt="Image placeholder">
              <h2>English</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="Biology/" class="course">
              <img src= "{% static 'accounts/images/biology.png' %}" alt="Image placeholder">
              <h2>Biology</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="Chemistry/" class="course">
              <img src= "{% static 'accounts/images/chemistry.jpg' %}" alt="Image placeholder">
              <h2>Chemistry</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="Physics/" class="course">
              <img src= "{% static 'accounts/images/physics.png' %}" alt="Image placeholder">
              <h2>Physics</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="ICT/" class="course">
              <img src= "{% static 'accounts/images/ict1.jpg' %}" alt="Image placeholder">
              <h2>ICT</h2>
            </a>
          </div>
        </div>
        <!-- END row -->

        
      </div>
    </section>
{% endif %}
{% if type == 'SAT' %}
<div class = 'container justify-content-center'>
<table class='table'>

<tr>
  <th><h3> SAT Past Questions</h3></th>
</tr>
	{% if les %}
{% for pq in les %}
  <tr>
   <th>{{ pq.name }} 
	</th>
	  
     <td> 
    <p style='text-align: right'>
    <a href='/media/{{ pq.document }}/'>Download/Open</a>
  </p>

  </td>
  </tr>
{% endfor %}
{% else %}
<tr>
<th>There are no Past Questions yet. </th>
	<td> 
    <p style='text-align: right'>
    But there will be soon
  </p>

  </td>
</tr>
	
{% endif %}
</table>
</div>
<nav aria-label="Page navigation" >

		  <ul class="pagination justify-content-center" >
        {% if les.has_previous %}
			  <li class="page-item"> <a class="page-link" href="?page=1">&laquo; first</a></li>
			  <li class="page-item"> <a class="page-link" href="?page={{ les.previous_page_number }}">previous</a></li>
        {% endif %}

        

        {% if les.has_next %}
			  <li class="page-item"> <a class="page-link" href="?page={{ les.next_page_number }}">next</a></li>
			  <li class="page-item"> <a class="page-link" href="?page={{ les.paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
		</ul>
   

</nav>
<span class="current cpan">
            Page {{ les.number }} of {{ les.paginator.num_pages }}.
        </span> 
{% endif %}

{% endblock %}