{% extends 'base.html' %}
{% load static %}

{% block body %}

 <section class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-5 box">
            <h2 class="mb-5">Change password</h2>
                <form  method="post">
				{% csrf_token %}
				{{ form.non_field_errors }}
				<div class="row">
                    <div class="col-md-12 form-group">
                      <label>Old password</label>
                      <input name='{{ form.old_password.html_name }}' id = '{{ form.old_password.id_for_label }}'type="password"  class="form-control ">
                    </div>
                  </div>
				{% if form.old_password.errors %}
                  
                     {% for error in form.old_password.errors %}
                     <li><strong style="color: crimson">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                 {% endif %}
				
				<div class="row">
                    <div class="col-md-12 form-group">
                      <label>New password</label>
                      <input  name='{{ form.new_password1.html_name }}' id = '{{ form.new_password1.id_for_label }}' type="password" class="form-control ">
                    </div>
                  </div>
				{% if form.new_password1.errors %}
                  
                     {% for error in form.new_password1.errors %}
                     <li><strong style="color: crimson">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                 {% endif %}
                    
                    <div class="row">
                    <div class="col-md-12 form-group">
                      <label>New password confirmation</label> 
                      <input  name='{{ form.new_password2.html_name }}' id = '{{ form.new_password2.id_for_label }}' type="password" class="form-control ">
                    </div>
                  </div>
				{% if form.new_password2.errors %}
                  
                     {% for error in form.new_password2.errors %}
                     <li><strong style="color: crimson">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                 {% endif %}
				<br><br><br>
				
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <input type="submit" value="Change password" class="btn btn-primary">
                    </div>
                  </div>
				
                </form>         
          </div>
        </div>
      </div>
    </section>
{% endblock %}