{% extends 'base.html' %}
{% load static %}
<!doctype html>




    {% block body %}

    <section class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center">
            <h2>Password change complete</h2>
            <p class="lead">Your password has been changed successfully. You may get back to work.</p>
			  <a href="{% url 'accounts:home' %}" class="course">
			<p>Home</p></a>
          </div>
        </div>
        

 

      </div>
    </section>
    <!-- END section -->
    
  
    {% endblock %}