{% extends 'base.html' %}
{% block body%}


<div class='container'>
	<div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center">
			  <br>
            <h2>Choose Subjects</h2>
            <p class="lead">Select the subjects of the classes you teach.</p>
          </div>
        </div>
<form method ='post'>
	{% csrf_token %}
	{{ form.non_field_errors }}
		<div class='row'>
			
			<div class='col-md-4'>
				<div class='card' style='margin-bottom: 50px'>
						<div class="card-header ">year 12</div>
					<div class='card'>
					{{form.Subject12}}        
			</div>                           
		</div>
	</div>
			<div class='col-md-4'>
				<div class='card' style='margin-bottom: 50px'>
						<div class="card-header ">year 11</div>
					<div class='card'>
					{{form.Subject11}}        
			</div>                           
		</div>
	</div>
			
			<div class='col-md-4'>
				<div class='card' style='margin-bottom: 50px'>
						<div class="card-header ">year 10</div>
					<div class='card'>
					{{form.Subject10}}        
			</div>                           
		</div>
	</div>
			<div class='col-md-4'>
				<div class='card' style='margin-bottom: 50px'>
						<div class="card-header ">year 9</div>
					<div class='card'>
					{{form.Subject9}}        
			</div>                           
		</div>
	</div>
			<div class='col-md-4'>
				<div class='card' style='margin-bottom: 50px'>
						<div class="card-header ">year 8</div>
					<div class='card'>
					{{form.Subject8}}        
			</div>                           
		</div>
	</div>
			<div class='col-md-4'>
				<div class='card' style='margin-bottom: 50px'>
						<div class="card-header ">year 7</div>
					<div class='card'>
					{{form.Subject7}}        
			</div>                           
		</div>
	</div>
	
					
	
</div>
	
	                  <div class="row">
                    <div class="col-md-6 form-group">
                      <input type="submit" value="Submit" class="btn btn-primary">
                    </div>
                  </div>
	</form>
</div>
{% endblock %}