{% extends 'base.html' %}


{% block body %}
<br><br><br>
{% if user.student.Class.Year >= Class.Year %}
{%if subjects%}
	<div class='container'>
		<div>
		<span style="float: left"><h3 >My Subjects</h3></span>
		
		<button class='btn btn-link' data-toggle='modal' data-target = '#EditSubjectsModal' type='button'>
			Edit
		</button>

			</div>
		
		<div class='row'>
			
		{% for subject in subjects %}
			<div class='col-md-4'>
				
				<div class='card' style='margin-bottom: 50px'>
					
						<div class="card-header ">{{ subject.name }}</div>
					
					<div class='card'>
					<ul class='list-group list-group-flush'>
					{% for stuff in Lesson %}
					{% for lessons in stuff %}
					{% if lessons.subject == subject %}
					{% if user.student.Arm == 'A' and lessons.posted_A %}
					 <a  class="list-group-item hbutton" href="{{ lessons.get_absolute_url }}">{{ lessons }} </a>
					{% elif user.student.Arm == 'B' and lessons.posted_B %}
					 <a  class="list-group-item hbutton" href="{{ lessons.get_absolute_url }}">{{ lessons }} </a>
					{% elif user.student.Arm == 'C' and lessons.posted_C %}
					 <a  class="list-group-item hbutton" href="{{ lessons.get_absolute_url }}">{{ lessons }} </a>
					{% endif %}
					{% endif %}
					{% endfor %}
					{% endfor %}
				</ul>

			</div>
					
                 <a class='btn btn-link card-footer text-muted success-color white-text' href="/home/Class/{{Class}}/{{subject.name}}/See All/">see all</a>
                                    
		</div>
	</div>
	{% endfor %}
</div>
<div class='modal fade' id='EditSubjectsModal'  role='dialog'>
	<div class='modal-dialog modal-dialog-centered" role='document''>
		<div class='modal-content'>
			<div class='modal-header'>
				<h5 class='modal-title'>Edit Subjects</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>

			</div>
			<div class='modal-body'>
				 <form method='post'>
                   {% csrf_token %}
                   {{ form.non_field_errors }}
                   {{ form.subjects.errors }}
                   {{ form.Subject }}
             <div class="modal-footer">
           <button style="border-radius: 12px" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           <button style="border-radius: 12px" type="submit" class="btn btn-primary">Save changes</button>
           </div>
                  </form>
			</div>
			

		</div>
	</div>
</div>
</div>


{%else%}
<div class='container'>
		<div>
		<span style="float: left"><h3 >My Subjects</h3></span>
		
		<button class='btn btn-link' data-toggle='modal' data-target = '#EditSubjectsModal' type='button'>
			Edit
		</button>

			</div>
<div class = 'jumbotron'>
	<p>You have no subjects picked. Click on the edit button and pick some.</p>
</div>
<div class='modal fade' id='EditSubjectsModal'  role='dialog'>
	<div class='modal-dialog modal-dialog-centered" role='document''>
		<div class='modal-content'>
			<div class='modal-header'>
				<h5 class='modal-title'>Edit Subjects</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>

			</div>
			<div class='modal-body'>
				 <form method='post'>
                   {% csrf_token %}
                   {{ form.non_field_errors }}
                   {{ form.subjects.errors }}
                   {{ form.Subject }}
             <div class="modal-footer">
           <button style="border-radius: 12px" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           <button style="border-radius: 12px" type="submit" class="btn btn-primary">Save changes</button>
           </div>
                  </form>
			</div>
			

		</div>
	</div>
</div>
</div>
{%endif%}
{% else %}
<div class="container">
<div class = 'jumbotron'>
	<p>Sorry, this isn't your class. You need to be in this class or higher to view the materials available </p>
</div>
</div>
{% endif %}
{% endblock %}