{% extends 'base.html' %}
{% load static %}

<!doctype html>

{% block body %}
 <section class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <form  method="post">
				{% csrf_token %}
				{% if form.non_field_errors %}
                  
                     {% for error in form.non_field_errors %}
                     <li><strong style="color: crimson">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                 {% endif %}
                  <div class="row">
<!--
                    <div class="col-md-4 form-group">
                      <label for="name">Name</label>
                       <input name='{{ form.username.html_name }}' id = '{{ form.username.id_for_label }}'type="text"  class="form-control ">
                    </div>
-->
                    <div class="col-md-4 form-group">
                      <label for="phone">Subject</label>
                       <input name='{{ form.subject.html_name }}' id = '{{ form.subject.id_for_label }}'type="text"  class="form-control ">
						{% if form.subject.errors %}
                  
                     {% for error in form.subject.errors %}
                     <li><strong style="color: crimson">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                     {% endif %}
                    </div>
					  
                    <div class="col-md-4 form-group">
                      <label for="email">Email</label>
                       <input name='{{ form.email.html_name }}' id = '{{ form.email.id_for_label }}'type="text"  class="form-control ">
						{% if form.email.errors %}
                  
                     {% for error in form.email.errors %}
                     <li><strong style="color: crimson">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                     {% endif %}
                    </div>
					  
                  </div>
                  <div class="row">
                    <div class="col-md-12 form-group">
                      <label for="message">Write Message</label>
                      <textarea name="{{ form.message.html_name }}" id="{{ form.message.id_for_label }}" class="form-control " cols="30" rows="8"></textarea>
						{% if form.message.errors %}
                  
                     {% for error in form.message.errors %}
                     <li><strong style="color: crimson">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                     {% endif %}
                    </div>
					  
                  </div>
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <input type="submit" value="Send Message" class="btn btn-primary">
                    </div>
                  </div>
                </form>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->
{% endblock %}
