{% extends 'base.html' %}
{% load static %}
{% block body %}

<section class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <form  method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{{form.media}}
				{% if form.non_field_errors %}
                  
                     {% for error in form.non_field_errors %}
                     <li><strong style="color: crimson">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                 {% endif %}
                  <div class="row">
                    <div class="col-md-3 form-group">
						<label for="name">Name:</label>
						 {{form.name}}
                    </div>

					  
                    <div class="col-md-5 form-group">
						<label>Subject:</label>
						 {{form.subject}}
                    </div>
					  
                  </div>
                  <div class="row" style="color: black ;overflow:auto">
                    <div class="col-md-12 form-group">

						{{form.description}}
                    </div>
					  
                  </div>
				<div class="row" style="color: black ;overflow:auto">
                    <div class="col-md-12 form-group">
                          <label for="name">Document:</label>
						{{form.document}}
                    </div>
					  
                  </div>
				   <p> A:{{form.posted_A}} B:{{form.posted_B}} C:{{form.posted_C}}</p>
				  
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <input type="submit" value="Create Note" class="btn btn-primary">
                    </div>
                  </div>
                </form>
          </div>
        </div>
      </div>
    </section>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}