{% extends 'base.html' %}
{% load static %}
<!doctype html>

{% block body %}

 <section class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-5 box">
            <h2 class="mb-5">Please enter your username</h2>
                <form  method="post">
				{% csrf_token %}
			
				{% if form.non_field_errors %}
                  
                     {% for error in form.non_field_errors %}
                     <li><strong style="color: crimson">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                 {% endif %}
				<div class="row">
                    <div class="col-md-12 form-group">
                      <label>Username</label>
                      <input name='{{ form.username.html_name }}' id = '{{ form.username.id_for_label }}'type="text"  class="form-control "maxlength="10">
                    </div>
                  </div>
				<!--error to be shown if username is not specified-->
				{% if form.username.errors %}
                  
                     {% for error in form.username.errors %}
                     <li><strong style="color: crimson">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                 {% endif %}
					
				<br><br><br>
				
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <input type="submit" value="Submit" class="btn btn-primary">
                    </div>
                  </div>
				
                </form>         
          </div>
        </div>
      </div>
    </section>
{% endblock %}      



  
