{% extends 'base.html' %}
{% load static %}

	  
	  {% block head %}
    <title>SEF TUTOR</title>
      
      <section class="site-hero overlay" data-stellar-background-ratio="0.5" style="background-image: url({% static 'accounts/images/big_image_1.jpg' %});">                                         
      <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
          <div class="col-md-8 text-center">

            <div class="mb-5 element-animate">
<!--
				{% if messages %}
                {% for message in messages %}
                <div class="alert alert-success alert-dismissible">
                     <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                     <strong>Success!</strong> {{ message }}
                </div>
               {% endfor %}
               {% endif %}
-->
              <h1>Learn From Doing</h1>
              <p class="lead">Learn something new every day with SEF TUTOR.</p>
            </div>

            
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->
	  {% endblock %}

	  {% block body %}
	  
	<section class="section-cover" data-stellar-background-ratio="0.5" style="background-image: url({% static 'accounts/images/big_image_3.jpg' %});">
      <div class="container">
        <div class="row justify-content-center align-items-center intro">
          <div class="col-md-7 text-center element-animate">
            <h2>Welcome to SEFTUTOR</h2>
            <p class="lead mb-5">Supreme's first e-learning website designed to give you the best learning experience</p>
          </div>
        </div>
      </div>
    </section>
	  
    <!-- END section -->  


<!--use following code for past questions-->

<!--<section class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center">
            <h2>Subjects</h2>
            <p class="lead">A few core subjects</p> 
          </div>
        </div>
        <div class="row top-course">
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="#" class="course">
              <img src="{% static 'accounts/images/math2.jpg' %}" alt="Math" width="700" height="160">
              <h2>Math</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="#" class="course">
              <img src="{% static 'accounts/images/science.jpg' %}" alt="Science">
              <h2>Science</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="#" class="course">
              <img src="{% static 'accounts/images/english.jpg' %}" alt="Engish" width="700" height="160">
              <h2>English</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="#" class="course">
              <img src="{% static 'accounts/images/it.jpg' %}" alt="Computer Studies" width="700" height="160">
				<h2>Computer Studies</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="#" class="course">
              <img src="{% static 'accounts/images/finance.jpg' %}" alt="Finance" width="700" height="160">
              <h2>Finance</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="#" class="course">
              <img src="{% static 'accounts/images/art2.png' %}" alt="Arts and Humanities">
              <h2>Arts and Humanities</h2>
            </a>
          </div>
        </div>
      </div>
    </section>-->
    <!-- END section -->

<section class="site-section">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center">
            <h2>Meet the Team</h2>
            <p class="lead">A little information about the SEFTUTOR team.</p>
          </div>
        </div>
        <section class="school-features text-dark d-flex">

          <div class="inner">
			  
			  <div class="media d-block feature text-center">
<!--              <img src="{% static 'accounts/images/' %}" alt="Image placeholder" class="mb-3">-->
              <div class="media-body">
<!--
                <h3 class="mt-0">You</h3>
                <p class="instructor-meta">The students</p>
				   <p>The reason why we do this</p>
-->
              </div>
            </div>
			  
            <div class="media d-block feature text-center">
              <img src= "{% static 'accounts/images/ban.JPG' %}" alt="Image placeholder" class="mb-6">
              <div class="media-body">
                <h3 class="mt-0">Babafunmise Adebowale</h3>
                <p class="instructor-meta">CEO and Founder</p>
                <p> Environmental Prefect, Head of Front end design as well as security and basic functionality</p>
              </div>
            </div>

            <div class="media d-block feature text-center">
              <img src="{% static 'accounts/images/tanny.jpg' %}" alt="Image placeholder" class="mb-6">
              <div class="media-body">
                <h3 class="mt-0">Tanitoluwa Adebayo</h3>
                <p class="instructor-meta">CTO and co-founder</p>
                <p> Innovation Prefect,Head of back-end and functionality design</p>
              </div>
            </div>

            <div class="media d-block feature text-center">
<!--              <img src="{% static 'accounts/images/' %}" alt="Image placeholder" class="mb-3">-->
              <div class="media-body">
<!--                <h3 class="mt-0">Our Teachers</h3>-->
<!--                <p class="instructor-meta">Nominal Partner</p>-->
<!--				  <p>The actual content providers on the site</p>-->
              </div>
            </div>
			  
          </div>
        </section>

       

      </div>
    </section>
    <!-- END section -->
	  {% endblock %}
