{% extends 'base.html' %}

{% block body %}

<h1 class='title' style="text-align: center">{{ lesson.name }}</h1>
<div class = 'container'>
		<div style="color: black;overflow: auto">
			{{ lesson.description | safe  }}
		</div>
		{% if lesson.document %}
		<div>
			<h3>Downloadable-content</h3>
			<a href='/media/{{ lesson.document }}/'>note</a>
		</div>
		{% else %}
		{% endif %}
	
</div>
{% endblock %}