{% extends 'base.html' %}
{% load static %}
<!doctype html>

      

    {% block body %}
    <section class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-5 box">
            <h2 class="mb-5">Log in with your account</h2>
            <form  method="post">
				{% csrf_token %}
             <!--error to be shown if password and/or username are wrong-->
				{% if form.non_field_errors %}
                  
                     {% for error in form.non_field_errors %}
                     <li><strong style="color: crimson">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                 {% endif %}
				<div class="row">
                    <div class="col-md-12 form-group">
                      <label>Username</label>
                      <input name='{{ form.username.html_name }}' id = '{{ form.username.id_for_label }}'type="text"  class="form-control ">
                    </div>
                  </div>
				<!--error to be shown if username is not specified-->
				{% if form.username.errors %}
                  
                     {% for error in form.username.errors %}
                     <li><strong style="color: crimson">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                 {% endif %}
				
				<div class="row">
                    <div class="col-md-12 form-group">
                      <label>Password</label>
                      <input  name='{{ form.password.html_name }}' id = '{{ form.password.id_for_label }}' type="password" class="form-control ">
                    </div>
                  </div>
				<!--error to be shown if password is not specified-->
				{% if form.password.errors %}
                  
                     {% for error in form.password.errors %}
                     <li><strong style="color: crimson">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                 {% endif %}
				<br><br><br>
				
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <input type="submit" value="Login" class="btn btn-primary">
                    </div>
                    <a href="{% url 'accounts:reset_password' %}" class="btn btn-link" role="button" >Forgot Password?</a>
                  </div>
				  
				<!-- <a href="{% url 'accounts:student_register' %}" class="btn btn-link" role="button" >Not Registered?</a> -->
                </form>
			  
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->
  
    {% endblock %}
