{% extends 'base.html' %}
{% load static %}
<!doctype html>




    {% block body %}

    <section class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center">
            <h2>Logged out</h2>
            <p class="lead">Thanks for spending some quality time with the Web site today.</p>
			  <a href="{% url 'accounts:login' %}" class="course">
			<p>Log in again</p></a>
          </div>
        </div>
        

 

      </div>
    </section>
    <!-- END section -->
    
  
    {% endblock %}
     
