{% extends 'base.html' %}
{% load static %}
<!doctype html>

{% block body %}

 <section class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-5 box">
            <h2 class="mb-5">Register</h2>
                <form  method="post">
				{% csrf_token %}
			
				{% if form.non_field_errors %}
                  
                     {% for error in form.non_field_errors %}
                     <li><strong style="color: crimson">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                 {% endif %}
				<div class="row">
                    <div class="col-md-12 form-group">
                      <label>Username</label>
                      <input name='{{ form.username.html_name }}' id = '{{ form.username.id_for_label }}'type="text"  class="form-control "maxlength="10">
                    </div>
                  </div>
				<!--error to be shown if username is not specified-->
				{% if form.username.errors %}
                  
                     {% for error in form.username.errors %}
                     <li><strong style="color: crimson">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                 {% endif %}
					
					
				<div class="row">
                    <div class="col-md-12 form-group">
                      <label>Email</label>
                      <input name='{{ form.email.html_name }}' id = '{{ form.email.id_for_label }}'type="text"  class="form-control ">
                    </div>
                  </div>
				<!--error to be shown if username is not specified-->
					<strong style="color: crimson">{{ error}}</strong>
				{% if form.email.errors %}
                  
                     {% for error in form.email.errors %}
                     <li><strong style="color: crimson">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                 {% endif %}
				<div class="row">
					<div class="col-md-4 form-group">
						<label>Year</label>

               <select name="Class" required_id="id_Class" class="form-control ">
                     <option value="" selected="">---------</option>

                      <option value="6">7</option>

                        <option value="5">8</option>

                        <option value="4">9</option>

                         <option value="3">10</option>

                          <option value="2">11</option>

                           <option value="1">12</option>

                           </select>
                           {% if form.Class.errors %}
                  
                     {% for error in form.Class.errors %}
                     <li><strong style="color: crimson; font-size: 10px">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                 {% endif %}
                    </div>
					
					
					<div class="col-md-4 form-group">
						<label>Arm</label>
						        <select name="Arm" required_id="id_Arm" class="form-control ">
                     <option value="" selected="">---------</option>

                      <option value="A">A</option>

                        <option value="B">B</option>

                        <option value="C">C</option>

                         
                           </select>
                     {% if form.Arm.errors %}
                  
                     {% for error in form.Arm.errors %}
                     <li><strong style="color: crimson;font-size: 10px">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                 {% endif %}
 
                    </div>
					
					</div>
				<div class="row">
                    <div class="col-md-12 form-group">
                      <label>Password</label>
                      <input  name='{{ form.password1.html_name }}' id = '{{ form.password1.id_for_label }}' type="password" class="form-control ">
                    </div>
                  </div>
				{% if form.new_password1.errors %}
                  
                     {% for error in form.password1.errors %}
                     <li><strong style="color: crimson">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                 {% endif %}
                    
                    <div class="row">
                    <div class="col-md-12 form-group">
                      <label>Re-type password</label> 
                      <input  name='{{ form.password2.html_name }}' id = '{{ form.password2.id_for_label }}' type="password" class="form-control ">
                    </div>
                  </div>
				{% if form.password2.errors %}
                  
                     {% for error in form.password2.errors %}
                     <li><strong style="color: crimson">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                 {% endif %}
				<br><br><br>
				
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <input type="submit" value="Register" class="btn btn-primary">
                    </div>
                  </div>
				
                </form>         
          </div>
        </div>
      </div>
    </section>
{% endblock %}      



  
