{% extends 'base.html' %}
{% load static %}
<!doctype html>

{% block body %}

 <section class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-5 box">
            <h2 class="mb-5">Answer your secret question and set new password</h2>
                <form  method="post">
				{% csrf_token %}
			        <div class="row">
                     <div class="col-md-12 form-group">
                      <label>{{user.secret_question}}</label>
                      <input name='{{ form.secret_answer.html_name }}' id = '{{ form.secret_answer.id_for_label }}'type="text"  class="form-control ">
                    </div>
                        </div>
				<!--error to be shown if username is not specified-->
					<strong style="color: crimson">{{ error}}</strong>
				{% if form.secret_answer.errors %}
                  
                     {% for error in form.secret_answer.errors %}
                     <li><strong style="color: crimson">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                 {% endif %}
 
				{% if form.non_field_errors %}
                  
                     {% for error in form.non_field_errors %}
                     <li><strong style="color: crimson">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                 {% endif %}
				
				<div class="row">
                    <div class="col-md-12 form-group">
                      <label>Password</label>
                      <input  name='{{ form.password1.html_name }}' id = '{{ form.password1.id_for_label }}' type="password" class="form-control ">
                    </div>
                  </div>
				{% if form.new_password1.errors %}
                  
                     {% for error in form.password1.errors %}
                     <li><strong style="color: crimson">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                 {% endif %}
                    
                    <div class="row">
                    <div class="col-md-12 form-group">
                      <label>Re-type password</label> 
                      <input  name='{{ form.password2.html_name }}' id = '{{ form.password2.id_for_label }}' type="password" class="form-control ">
                    </div>
                  </div>
				{% if form.password2.errors %}
                  
                     {% for error in form.password2.errors %}
                     <li><strong style="color: crimson">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                 {% endif %}
				<br><br><br>
				
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <input type="submit" value="Submit" class="btn btn-primary">
                    </div>
                  </div>
				
                </form>         
          </div>
        </div>
      </div>
    </section>
{% endblock %}      



  
