{% extends 'base.html' %}
{% load static %}
<!doctype html>




    {% block body %}

    <section class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center">
            <h2>Password reset sent</h2>
            <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
			  <p>If you don't receive an email, please make sure you've entered the correct SCHOOL email address , and check your spam folder.</p>
          </div>
        </div>
        

 

      </div>
    </section>
    <!-- END section -->
    
  
    {% endblock %}
     
