{% extends 'base.html' %}

{% block body %}

{% if res %}
	<table class='table'>
	<tr>
		<th>Results for '{{ query }}'</th>
		</tr>
{% for result in res %}

<tr>
<td> <a href="{{ result.get_absolute_url }}">
	
	{{ result.name }}
	
	</a>
	
	</td>
</tr>
{% endfor %}
		
</table>
<nav aria-label="Page navigation" >

		  <ul class="pagination justify-content-center" >
        {% if res.has_previous %}
			  <li class="page-item"> <a class="page-link" href="?page=1&q={{ request.GET.q }}">&laquo; first</a></li>
			  <li class="page-item"> <a class="page-link" href="?page={{ res.previous_page_number }}&q={{ request.GET.q }}">previous</a></li>
        {% endif %}

        

        {% if res.has_next %}
			  <li class="page-item"> <a class="page-link" href="?page={{ res.next_page_number }}&q={{ request.GET.q }}">next</a></li>
			  <li class="page-item"> <a class="page-link" href="?page={{ res.paginator.num_pages }}&q={{ request.GET.q }}">last &raquo;</a></li>
        {% endif %}
		</ul>
   

</nav>
<span class="current cpan">
            Page {{ res.number }} of {{ res.paginator.num_pages }}.
        </span> 

{% else %}

<div class = 'jumbotron'>
	<h5 style="text-align: center">There are no results matching your query.</h5>
	<p style="text-align: center">Please check if what you searched is spelt correctly</p>
</div>
{% endif %}

{% endblock %}
