{% extends 'base.html' %}

{% block body %}
<!--
<ul class='list-group list-group-flush'>
	
{% for results in result %}

<li>
<a class="list-group-item hbutton" href='{{results.get_absolute_url}}'>{{results}}</a>	
</li>
{% endfor %}
</ul>
-->
<div class = 'container justify-content-center'>
<table class='table'>

<tr>
  <th><h3>All {{ sub }} Lessons</h3></th>
  
</tr>
	{% if res %}
{% for results in res %}
  <tr>
    
    <th>{{ results.name }} <p style="font-size: 10px">{{results.date}}</p></th>
	  
     <td> 
    <p style='text-align: right'>
    <a href='{{results.get_absolute_url}}'>View Lesson</a>
  </p>

  </td>
  </tr>
	{% endfor %}
	{% else %}
	<tr>
<th>There are no Lessons yet. </th>
	<td> 
    <p style='text-align: right'>
    But there will be soon
  </p>

  </td>
</tr>
	{% endif %}
</table>
</div>
<nav aria-label="Page navigation" >

		  <ul class="pagination justify-content-center" >
        {% if res.has_previous %}
			  <li class="page-item"> <a class="page-link" href="?page=1">&laquo; first</a></li>
			  <li class="page-item"> <a class="page-link" href="?page={{ res.previous_page_number }}">previous</a></li>
        {% endif %}

        

        {% if res.has_next %}
			  <li class="page-item"> <a class="page-link" href="?page={{ res.next_page_number }}">next</a></li>
			  <li class="page-item"> <a class="page-link" href="?page={{ res.paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
		</ul>
   

</nav>
<span class="current cpan">
            Page {{ res.number }} of {{ res.paginator.num_pages }}.
        </span> 

{% endblock %}