{% extends 'base.html' %}
{% load static %}
{% block body %}

<!--for subject-->
<section class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center">
            <h2>Sef Past Questions</h2>
            <p class="lead">Download all questionsyou need to prepare for your exams.</p>
          </div>
        </div>
      

        <div class="row top-course">
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a  href="Math/" class="course">
              <img src= "{% static 'accounts/images/math3.jpg' %}" alt="Image placeholder">
              <h2>Math</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="English/" class="course">
              <img src= "{% static 'accounts/images/english2.jpg' %}" alt="Image placeholder">
              <h2>English</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="Biology/" class="course">
              <img src= "{% static 'accounts/images/biology.png' %}" alt="Image placeholder">
              <h2>Biology</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="Chemistry/" class="course">
              <img src= "{% static 'accounts/images/chemistry.jpg' %}" alt="Image placeholder">
              <h2>Chemistry</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="Physics/" class="course">
              <img src= "{% static 'accounts/images/physics.png' %}" alt="Image placeholder">
              <h2>Physics</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="ICT/" class="course">
              <img src= "{% static 'accounts/images/ict1.jpg' %}" alt="Image placeholder">
              <h2>ICT</h2>
            </a>
          </div>
        </div>
        <!-- END row -->

        
      </div>
    </section>
        <!-- END row -->

        
      </div>
    </section>

{% endblock %}