{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class = 'container justify-content-center'>
<table class='table'>

<tr>
  <th><h3>Past Questions</h3></th>
</tr>
	{% if res %}
{% for pq in res %}
  <tr>
   <th>{{ pq.name }} <p style="font-size: 10px">
	   {{sub}}--{{pq.Term}}--{{pq.Exam_Type}}--{{pq.Set}}</p>
	</th>
	  
     <td> 
    <p style='text-align: right'>
    <a href='/media/{{ pq.document }}/'>Download/Open</a>
  </p>

  </td>
  </tr>
{% endfor %}
{% else %}
<tr>
<th>There are no Past Questions yet. </th>
	<td> 
    <p style='text-align: right'>
    But there will be soon
  </p>

  </td>
</tr>
	
{% endif %}
</table>
</div>
<nav aria-label="Page navigation" >

		  <ul class="pagination justify-content-center" >
        {% if res.has_previous %}
			  <li class="page-item"> <a class="page-link" href="?page=1">&laquo; first</a></li>
			  <li class="page-item"> <a class="page-link" href="?page={{ res.previous_page_number }}">previous</a></li>
        {% endif %}

        

        {% if res.has_next %}
			  <li class="page-item"> <a class="page-link" href="?page={{ res.next_page_number }}">next</a></li>
			  <li class="page-item"> <a class="page-link" href="?page={{ res.paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
		</ul>
   

</nav>
<span class="current cpan">
            Page {{ res.number }} of {{ res.paginator.num_pages }}.
        </span> 

{% endblock %}