{% extends 'base.html' %}
{% load static %}
<!doctype html>

{% block body %}
{% if user.is_teacher == False %}
 <section class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 box">
            <h2 class="mb-5">Update your account info</h2>
                <form  method="post">
				{% csrf_token %}
			
				{% if form.non_field_errors %}
                  
                     {% for error in form.non_field_errors %}
                     <li><strong style="color: crimson">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                 {% endif %}
				<div class="row">
                    <div class="col-md-12 form-group">
                      <label>Username</label>
                      <input name='{{ form.username.html_name }}' id = '{{ form.username.id_for_label }}'type="text"  class="form-control "maxlength="10">
                    </div>
                  </div>
				<!--error to be shown if username is not specified-->
				{% if form.username.errors %}
                  
                     {% for error in form.username.errors %}
                     <li><strong style="color: crimson">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                 {% endif %}
					
					
				<div class="row">
                    <div class="col-md-12 form-group">
                      <label>Email(optional)</label>
                      <input name='{{ form.email.html_name }}' id = '{{ form.email.id_for_label }}'type="text"  class="form-control ">
                    </div>
                  </div>
				<!--error to be shown if username is not specified-->
					<strong style="color: crimson">{{ error}}</strong>
				{% if form.email.errors %}
                  
                     {% for error in form.email.errors %}
                     <li><strong style="color: crimson">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                 {% endif %}
			
				<div class="row">
                    <div class="col-md-12 form-group">
                      <label>Password</label>
                      <input  name='{{ form.password1.html_name }}' id = '{{ form.password1.id_for_label }}' type="password" class="form-control ">
                    </div>
                  </div>
				{% if form.new_password1.errors %}
                  
                     {% for error in form.password1.errors %}
                     <li><strong style="color: crimson">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                 {% endif %}
                    
                    <div class="row">
                    <div class="col-md-12 form-group">
                      <label>Re-type password</label> 
                      <input  name='{{ form.password2.html_name }}' id = '{{ form.password2.id_for_label }}' type="password" class="form-control ">
                    </div>
                  </div>
				{% if form.password2.errors %}
                  
                     {% for error in form.password2.errors %}
                     <li><strong style="color: crimson">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                 {% endif %}
                    
                    	<div class="row">
					
                    <div class="col-md-12 form-group">
                      <label>Secret Question</label>
                      <input name='{{ form.secret_question.html_name }}' id = '{{ form.secret_question.id_for_label }}'type="text"  class="form-control ">
                    </div>
				<!--error to be shown if username is not specified-->
					<strong style="color: crimson">{{ error}}</strong>
				{% if form.secret_question.errors %}
                  
                     {% for error in form.secret_question.errors %}
                     <li><strong style="color: crimson">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                 {% endif %}
					
				 <div class="col-md-12 form-group">
                      <label>Answer to your secret question</label>
                      <input name='{{ form.secret_answer.html_name }}' id = '{{ form.secret_answer.id_for_label }}'type="text"  class="form-control ">
                    </div>
				<!--error to be shown if username is not specified-->
					<strong style="color: crimson">{{ error}}</strong>
				{% if form.secret_answer.errors %}
                  
                     {% for error in form.secret_answer.errors %}
                     <li><strong style="color: crimson">{{ error|escape }}</strong></li>
                     {% endfor %}
                     
                 {% endif %}
 
                   
					
					</div>
				<br><br><br>
				
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <input type="submit" value="Update" class="btn btn-primary">
                    </div>
                  </div>
				
                </form>         
          </div>
        </div>
      </div>
    </section>
{% else %}
<div class = 'jumbotron'>
	<h1 style="text-align: center">This is the student update page, you are a teacger so please click on this link to go to the right page.<a href="/home/teacher_update/">Teacher Update</a></h1>
</div>
{% endif %}
{% endblock %}      



  
