{% extends 'base.html' %}
<!-- Lesson Management Page -->


{% block body %}
<!-- 

-->
<!-- Listing out the lessons that the teacher has authored -->
<div class = 'container justify-content-center'>
<table class='table'>

<tr>
  <th><h3>Manage Lessons</h3></th>
  <td>
    <p style='text-align: right'>
      <a class='btn btn-primary' href="{% url 'accounts:Create_lesson' %}">
        Add Lesson
      </a>
    </p>
  </td>
</tr>
	{% if les %}
{% for lesson in les %}
  <tr>
    
    <th>{{ lesson.name }} <p style="font-size: 10px">{{lesson.subject}}</p></th>
	  
     <td> 
      
          <form method = 'post' action = '/home/Lessons/{{lesson.pk}}/delete/'>
             {%csrf_token%}
                <button class='btn btn-link' style="float: right;"> Delete </button><a class='btn btn-link' style="float: right;" href='/home/Lessons/{{ lesson.pk }}/edit/'>Change</a>
          </form>
          
  </td>
  </tr>
{% endfor %}
{% else %}
<tr>
<th>You have no lessons yet </th>
	<td> 
    <p style='text-align: right'>
    Click on the add lesson button to make some.
  </p>

  </td>
</tr>
	
{% endif %}
</table>
</div>

<nav aria-label="Page navigation" >

		  <ul class="pagination justify-content-center" >
        {% if les.has_previous %}
			  <li class="page-item"> <a class="page-link" href="?page=1">&laquo; first</a></li>
			  <li class="page-item"> <a class="page-link" href="?page={{ les.previous_page_number }}">previous</a></li>
        {% endif %}

        

        {% if les.has_next %}
			  <li class="page-item"> <a class="page-link" href="?page={{ les.next_page_number }}">next</a></li>
			  <li class="page-item"> <a class="page-link" href="?page={{ les.paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
		</ul>
   

</nav>
<span class="current cpan">
            Page {{ les.number }} of {{ les.paginator.num_pages }}.
        </span> 

{% endblock %}



